* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

html {
	font-family: 'Nunito Sans', sans-serif;
	scroll-behavior: smooth;
}

/* body {
	overflow-x: hidden;
} */

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title-font;
	color: $blue-cl;
	letter-spacing: -0.03em;
	line-height: 125%;
	font-weight: 700;
}

/* Header */
.header {
	height: 130px;
	z-index: 5;
	margin-bottom: 63px;
	background: #ffffff80;
	backdrop-filter: blur(12px);
	position: sticky;
	top: -20px;

	transition: 0.7s;

	.logo {
		width: 206px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			transition: 0.5s;
			width: 358px;
		}
	}

	&_scroll {
		top: -130px;
	}

	&_sticky {
		top: -20px;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__btns {
		display: flex;
		align-items: center;

		.btn-login {
			margin-right: 28px;
		}
	}
}

.btn-login {
	font-weight: 700;
	font-size: 19px;
	color: #0f1722;

	display: flex;
	align-items: center;

	svg {
		margin-right: 10px;
	}
}

/* first-section */

.first-section {
	.container {
		position: sticky;
		top: 193px;
		z-index: 0;
		opacity: 1;
		transition: 0.3s;

		display: flex;
		flex-direction: column;
	}

	.main-title {
		margin-bottom: 28px;
	}

	.main-subtitle {
		margin-bottom: 45px;
		max-width: 720px;
	}

	.main-btn {
		margin-bottom: 60px;
	}
}

.main-title {
	font-size: $fsz-h1;
	text-align: center;
	color: #000;

	span {
		font-family: 'Nunito Sans', sans-serif;
	}

	&__blue {
		color: #346efb;
	}
	&__violet {
		color: #a069f9;
	}
}

.main-subtitle {
	font-weight: 600;
	font-size: 24px;
	margin: 0 auto;
	text-align: center;
	color: #000;
}

/* //* Кнопка */
.main-btn {
	background: linear-gradient(180deg, #3e4d61 0%, #030717 100%);
	border: 0;
	cursor: pointer;
	padding: 18px;
	display: inline-block;

	white-space: nowrap;
	border-radius: 100px;
	position: relative;
	scale: 1;
	transition: 0.3s;

	margin: 0 auto;
	text-align: center;

	&_header {
		padding: 12px 28px;
	}

	&_blue {
		padding: 16px 28px;
		box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
		background: linear-gradient(180deg, #2a60f9 0%, #0738c4 100%),
			linear-gradient(180deg, #4a79ff 0%, #1c57fd 100%);
		svg {
			margin-left: 20px;
		}
	}

	&__text {
		font-weight: 700;
		font-size: 18px;
		line-height: 1;
		color: #fff;
	}

	&:hover {
		background: linear-gradient(180deg, #515f71 0%, #1d212f 100%);
	}
}

.main-btn_blue {
	&:hover {
		background: linear-gradient(180deg, #436ee5 0%, #1a4ee5 100%);
		box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
	}
}

/* контейнер с анимацией */

.first-section {
	margin: 0 auto 40%;

	&__video-wrapper {
		position: absolute;
		right: -64px;
		top: 90px;
		width: 300px;

		.edman {
			width: 80%;
			position: relative;
			z-index: 1;
		}

		img {
			position: absolute;
			right: 12px;
			top: -13px;
			z-index: 0;
			width: 90%;
		}
	}
}

.img-box {
	display: flex;
	align-items: start;
	justify-content: center;
	z-index: 1;

	height: 1500px;

	&__phone {
		position: relative;
		z-index: 2;
	}

	&__wrapper {
		position: sticky;
		top: 20%;
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			position: absolute;
			filter: blur(100px);
			z-index: 0;
			pointer-events: none;
		}

		.svg-1 {
			fill: #fff8ea;
			top: 0;
			left: 30%;
			transform: translateX(-50%);
		}

		.svg-2 {
			fill: #d9bae3;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.svg-3 {
			fill: #ffd1cb;
			bottom: -20%;
			right: 30%;
			transform: translateX(+50%);
		}
	}

	&__decor {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		opacity: 0;
		width: 200px;
		cursor: pointer;

		&:hover {
			opacity: 1 !important;
			filter: blur(0) !important;
			z-index: 1;
		}
	}

	.decor-6 {
		width: 100px;
	}
}

/* //* second-section */
.second-section {
	height: 150vh;

	&__scroll-wrapper {
		position: sticky;
		top: 50%;
		transform: translateY(-50%);

		display: flex;
		flex-direction: column;
		justify-content: center;

		margin: 0 0 100px;
	}

	&__title {
		font-weight: 700;
		height: 74px;
		font-size: $fsz-int-s2;
		letter-spacing: -0.03em;
		color: #b7bed0;

		display: flex;
		align-items: center;
		transition: 0.3s;

		img {
			width: 0;
			opacity: 0;
			margin: 0;
		}
	}

	&__sub-title {
		span {
			font-weight: 700;
			font-size: $fsz-int-s2;
			letter-spacing: -0.03em;
			text-align: center;
			color: #b7bed0;
			justify-content: center;
			display: flex;
			align-items: center;
			position: relative;
			img {
				width: 0;
				opacity: 0;
				position: absolute;
				left: -32px;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.main-btn_blue {
			padding: 20px;
			position: absolute;
			right: -10px;
			top: 50%;
			transform: translateY(-50%);
			transition: padding 0.6s, right 0.3s;

			span {
				font-weight: 700;
				/* font-size: 19px; */
				font-size: 0;
				color: #fff;
				transition: 0.3s;
			}

			svg {
				margin-left: 0;
				transition: 0.2s;
			}
		}

		.visible {
			padding: 20px 36px;
			right: -210px;
			span {
				font-size: 19px;
			}
			svg {
				margin-left: 24px;
			}
		}
	}
}

.third-section {
	position: relative;
	.container {
		height: 370vh;
	}
}
/* Слайдер */

.sliders {
	position: sticky;
	top: 104px;
}

.slide {
	&__title {
		font-weight: 800;
		font-size: 46px;
		line-height: 118%;
		letter-spacing: -0.03em;
		text-align: center;
		color: #0f1722;
		margin-bottom: 38px;
	}

	&__sub-title {
		max-width: 740px;
		font-weight: 400;
		font-size: 16px;
		text-align: center;
		color: #000;
		margin-bottom: 38px;

		b {
			font-weight: 700;
		}
	}

	&__decor {
		position: absolute;
		top: 120px;
		right: 20px;
	}

	&__content {
		transition: 0.3s;
		z-index: 1;
		position: relative;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__img-wrapper {
		display: flex;
		flex-wrap: nowrap;
		position: relative;

		img {
			position: absolute;
			height: 444px;
			top: 420px;
			left: 50%;

			transform: translateX(-50%);
		}
		#slidImg2 {
			left: 100%;
		}

		#slidImg3 {
			left: 100%;
		}

		#slidImg4 {
			left: 100%;
		}

		#slidImg5 {
			left: 100%;
		}
	}

	&__content {
		margin-bottom: 30px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&__decor-wrapper {
		position: sticky;
		top: 100px;

		#slideDecor1 {
			right: 0%;
			top: 360px;
		}
		#slideDecor2 {
			right: 0;
			top: 440px;
		}
		#slideDecor3 {
			left: -120px;
			top: 400px;
		}
		#slideDecor4 {
			left: -0%;
			top: 300px;
		}
	}
	&__decor-img {
		position: absolute;
	}
}

/* fourth-section */
.fourth-section {
	z-index: 1;
	position: relative;
	padding: 40px 0 200px;
	background: #fff;
	width: 100%;

	#fourthSectionContainer {
		max-width: 80%;
		margin: 0 auto;
	}
}

.scroll-box {
	min-height: 100dvh;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 0;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	img {
		margin-bottom: 86px;
		width: 1000px;
	}

	&__sub-title {
		opacity: 0;
		font-weight: 400;
		font-size: 18px;
		text-align: center;
		color: #000;
		margin-bottom: 52px;
		max-width: 624px;
	}

	&__title {
		opacity: 0;
		font-weight: 800;
		font-size: $fsz-s4;
		line-height: 109%;
		letter-spacing: -0.03em;
		text-align: center;
		color: #0f1722;
		max-width: 1056px;
	}

	&::after {
		content: '';
		border-radius: var(--scrollBoxAfterBorderRadius, 67px);
		display: block;
		width: 102%;
		height: 100%;
		filter: var(--scrollBoxAfterFilter, blur(10px));
		background: #d9c6ff;
		position: absolute;
		top: 0;
		z-index: -1;
	}
}
#scrollBox {
	margin: 100px auto 0;
	--scrollBoxAfterBorderRadius: 67px;
	--scrollBoxAfterFilter: blur(10px);
}

.info-box {
	width: 1100px;
	margin: -30px auto 20px;
	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.13);
	background: #fff;
	padding: 36px 74px;
	border-radius: 40px;

	display: flex;
	align-items: center;

	img {
		width: 86px;
		margin-right: 24px;
	}

	p {
		font-weight: 700;
		font-size: 35px;
		line-height: 189%;
		letter-spacing: -0.03em;
		color: #0f1722;
	}
}

.info-box-two {
	width: 1100px;
	margin: 0 auto;
	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.13);
	background: #fff;
	padding: 36px 74px;
	border-radius: 40px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	&__btns {
		a {
			margin-bottom: 6px;
			min-width: 170px;
		}
		p {
			font-weight: 500;
			font-size: 14px;
			letter-spacing: -0.03em;
			text-align: center;
			color: #0f1722;
			margin-bottom: -30px;
		}
	}

	&__content {
		display: flex;
		align-items: center;

		p {
			font-weight: 700;
			font-size: 35px;
			line-height: 189%;
			letter-spacing: -0.03em;
			text-align: right;
			color: #0f1722;
			margin-right: 24px;
		}

		span {
			border-radius: 100px;

			background: #edeffc;
			font-weight: 800;
			font-size: 38px;
			line-height: 1;
			letter-spacing: -0.03em;
			color: #b0b5d9;
			width: 86px;
			height: 86px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

/* //* sixth section */
.sixth-section {
	&__title {
		font-weight: 800;
		font-size: 56px;
		line-height: 118%;
		letter-spacing: -0.03em;
		text-align: center;
		color: #0f1722;
		margin-bottom: 6px;
	}

	&__carousel {
		margin-bottom: 46px;
	}

	&__sub-title {
		font-weight: 400;
		font-size: 16px;
		text-align: center;
		color: #000;
		max-width: 580px;
		margin: 0 auto 70px;
	}

	&__table-wrapper {
		margin-bottom: 140px;
	}
}

.slick-slide {
	font-weight: 800;
	font-size: 56px;
	line-height: 118%;
	letter-spacing: -0.03em;
	text-align: center;
	color: #707780;
	margin: 0 20px;
}
.slick-center {
	color: #9158f1;
}

.table {
	display: flex;
	flex-direction: column;
	margin-top: 20px;

	&__row {
		opacity: 0;

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 24px;

		&:nth-child(2n) {
			border-radius: 100px;
			background: linear-gradient(90deg, #f3f5f9 0%, #f1f1f1 100%);
		}
	}

	&__col-1 {
		width: 33%;
		display: flex;
		align-items: center;
		img {
			margin-right: 20px;
		}
		font-weight: 600;
		font-size: 16px;
		color: #000;
	}
	&__col-2 {
		width: 33%;
		text-align: center;
		font-weight: 800;
		font-size: 16px;
		color: #1c57fd;
	}
	&__col-3 {
		width: 33%;
		text-align: center;
		font-weight: 800;
		font-size: 16px;
		color: #9ea0a6;
	}

	&__row_logo {
		height: 60px;
		margin-bottom: 40px;
		.table__col-3 {
			p {
				font-weight: 600;
				font-size: 19px;
				text-align: center;
				color: #000;
				position: relative;
				z-index: 2;
			}
			position: relative;
			svg {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

/* //! FOOTER */

.footer {
	opacity: 0;
	padding-top: 100px;
	.container {
		display: flex;
		justify-content: space-between;
	}

	&__logo-box {
		img {
			margin-left: -44px;
		}
		p {
			max-width: 416px;
			font-weight: 400;
			font-size: 18px;
			color: #000;
			margin-bottom: 34px;
		}

		.main-btn {
			margin-bottom: 34px;
		}
	}
	&__copirayt {
		display: block;

		font-weight: 600;
		font-size: 13px;
		color: #000;
	}

	&__copirayt-mob {
		display: none;
	}

	&__wrapper {
		display: flex;
		padding-top: 176px;
	}

	&__social {
		display: flex;
		flex-direction: column;
		margin-right: 70px;

		.soc-link {
			margin-bottom: 14px;
		}
	}
	&__links {
		min-width: 238px;
		.soc-link {
			margin-bottom: 14px;
		}
	}
}

.soc-link {
	display: flex;
	align-items: center;
	svg {
		margin-right: 12px;
	}

	font-weight: 600;
	font-size: 16px;
	color: #0f1722;
}
