@media (max-width: 1920px) {
	.img-box {
		height: 800px;
	}
}

@media (max-width: 1440px) {
	.img-box {
		height: 900px;
	}

	.slide__img-wrapper img {
		height: 360px;
	}

	.img-box__wrapper {
		top: 10%;
	}

	.slide {
		&__title {
			font-size: 40px;
			margin-bottom: 30px;
		}

		&__img-wrapper img {
			top: 360px;
			height: 320px;
		}
	}

	/* .scroll-box__title {
		font-size: 66px;
	} */
}

@media (max-width: 1200px) {
	.header {
		height: 100px;
		.logo img {
			margin-left: 20px;
			width: 258px;
		}
	}

	.img-box__phone {
		width: 27%;
	}

	.img-box {
		height: 800px;
	}

	.decor-6,
	.decor-7,
	.decor-8,
	.decor-3 {
		display: none;
	}

	.first-section {
		.container {
			top: 100px;
		}
		&__video-wrapper {
			right: -64px;
			top: 70px;
			width: 256px;

			img {
				right: 54px;
				top: -10px;
				width: 74%;
			}
		}

		.edman {
			width: 166px;
		}
	}

	.second-section {
		&__title,
		&__sub-title span {
			font-size: 36px;
		}
	}

	.sliders {
		top: 74px;
	}
	.slide {
		&__title {
			font-size: 34px;
			margin-bottom: 20px;
		}

		&__img-wrapper img {
			top: 320px;
			height: 300px;
		}
	}
	/* .scroll-box__title {
		font-size: 52px;
	} */

	.info-box {
		width: 98%;

		p {
			font-size: 30px;
			line-height: 1.3;
		}
	}

	.info-box-two {
		width: 98%;
		&__content p {
			font-size: 30px;
			line-height: 1.3;
		}
	}

	.fourth-section {
		padding: 40px 0 100px;
	}

	.sixth-section {
		&__title {
			font-size: 34px;
		}
	}

	.slick-slide {
		font-size: 36px;
	}
}

@media (max-width: 1024px) {
	.header_sticky {
		top: -18px;
	}

	.header {
		height: 80px;
	}

	.header .logo img {
		width: 200px;
	}

	.header_scroll .logo img {
		margin-top: 6px;
	}

	.second-section__title,
	.second-section__sub-title span {
		font-size: 30px;
	}

	.second-section__sub-title .main-btn_blue {
		right: -22px;
	}

	.second-section__sub-title .visible {
		padding: 18px 26px;
		right: -196px;
	}

	.slide__decor-wrapper-mob {
		display: block;
		position: sticky;
		top: 24%;

		img {
			position: absolute;
			top: 100px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
		}
	}

	.third-section .container {
		height: 420vh;
	}

	.sliders {
		top: 20%;
	}

	.slide__img-wrapper {
		#slidImg1,
		#slidImg2,
		#slidImg3,
		#slidImg4,
		#slidImg5 {
			left: 50%;
		}
	}

	.first-section .container {
		top: 0;
		position: relative;
	}

	.first-section .edman {
		width: 136px;
	}

	.first-section {
		&__video-wrapper {
			position: relative;
			width: 100%;
			top: auto;
			right: auto;
			margin: 0 auto;

			img {
				right: auto;
				width: 250px;
				left: 50%;
				transform: translateX(-38%);
			}
		}

		.edman {
			position: relative;
			right: auto;
			bottom: auto;
			top: auto;
			width: 220px;
			margin: 0 auto 38px;
			display: flex;
		}
	}

	.main-subtitle {
		font-size: 20px;
	}

	.img-box {
		height: 500px;
		&__decor {
			opacity: 1;
			display: block;
			filter: blur(1px);
		}

		&__phone {
			width: 200px;
		}

		&__wrapper {
			position: relative;
		}

		.decor-2 {
			left: 76%;
			width: 22%;
		}
		.decor-3 {
			left: 10%;
			top: 100%;
			width: 16%;
		}

		.decor-4 {
			left: 6%;
			top: 18%;
			width: 18%;
		}

		.decor-1 {
			left: 22%;
			width: 26%;
		}

		.decor-6 {
			width: 10%;
			left: 94%;
		}

		.decor-7 {
			left: 78%;
			top: 100%;
		}

		.decor-07 {
			left: 64%;
			top: 10%;
		}

		.decor-5 {
			left: 92%;
			top: 16%;
			width: 14%;
		}

		.decor-8 {
			display: none;
		}
	}

	.first-section {
		&__video-wrapper {
			width: 210px;

			img {
				right: 44px;
				width: 82%;
			}
		}

		.edman {
			width: 140px;
		}
	}

	.slide {
		&__decor-wrapper {
			display: none;
		}
	}

	.scroll-box {
		min-height: 80dvh;
	}

	.footer {
		opacity: 1;
		padding-top: 0;
		padding-bottom: 60px;
	}

	.container {
		max-width: 98%;
	}

	#edmanImg {
		width: 90%;
	}

	.img-box__wrapper svg {
		display: none;
	}

	section {
		width: 100%;
	}

	.sixth-section__carousel-wrapper {
		display: block;
		overflow: hidden;
	}

	.table__row_logo .table__col-3 svg {
		display: none;
	}

	.fourth-section {
		overflow: hidden;
	}
}

@media (max-width: 860px) {
	/* .main-title {
		font-size: 34px;
	} */

	.second-section__sub-title .visible span {
		font-size: 16px;
	}

	.second-section__sub-title .visible {
		right: -170px;
	}

	.main-btn__text {
		font-size: 16px;
	}

	.slide__title {
		font-size: 30px;
	}

	.slide__decor {
		top: 200px;
		width: 12%;
	}

	.slide__img-wrapper img {
		height: 250px;
	}
	.footer__social {
		margin-right: 30px;
	}

	.info-box,
	.info-box-two {
		padding: 36px 30px;
	}

	.info-box img {
		width: 42px;
		margin-right: 14px;
	}

	.info-box p,
	.info-box-two__content p {
		font-size: 26px;
	}

	.info-box-two__content span {
		font-size: 20px;
		width: 42px;
		height: 42px;
	}

	.table__row_logo {
		.table__col-2 img {
			width: 100%;
		}
	}

	.table__col-1 {
		width: 40%;
	}
	.table__col-2,
	.table__col-3 {
		width: 30%;
	}
}

@media (max-width: 767px) {
	.header .logo {
		img {
			width: 180px;
			margin-left: -70px;
		}
	}

	.btn-login span {
		display: none;
	}

	.header__btns .btn-login {
		margin-right: 8px;
	}

	.first-section__video-wrapper {
		left: -5%;
	}

	.first-section .edman {
		position: relative;
		right: auto;
		bottom: auto;
		top: auto;

		width: 250px;
		margin: 0 auto 38px;
	}

	.first-section {
		overflow: hidden;
		.container {
			position: relative;
			top: auto;
		}
	}

	.img-box {
		height: auto;
	}

	.main-title {
		font-weight: 800;
		line-height: 124%;
		letter-spacing: -0.04em;
		text-align: center;

		br {
			display: none;
		}
	}

	.header {
		height: 115px;
		position: relative;
		z-index: 5;
		top: auto;
		margin-bottom: 0;
	}

	.first-section .main-subtitle {
		font-weight: 500;
		font-size: 20px;
		text-align: center;
	}

	.img-box__wrapper {
		.svg-1,
		.svg-2,
		.svg-3 {
			width: 50%;
			height: 70%;
		}
	}

	.img-box {
		.decor-2 {
			left: 76%;
			width: 40%;
		}
		.decor-3 {
			left: 10%;
			top: 100%;
			width: 16%;
		}

		.decor-4 {
			left: 6%;
			top: 18%;
			width: 18%;
		}

		.decor-1 {
			left: 22%;
			width: 40%;
		}

		.decor-6 {
			display: none;
		}

		.decor-7 {
			left: 74%;
			top: 100%;
		}

		.decor-07 {
			left: 64%;
			top: 10%;
		}

		.decor-5 {
			display: none;
		}
	}

	.img-box__phone {
		width: 200px;
	}

	.first-section {
		margin: 0 auto 60%;
	}

	.second-section {
		&__title {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	.second-section__sub-title span img {
		left: -10px;
	}

	.second-section__sub-title .main-btn_blue {
		right: auto;
		top: 200%;
	}

	.sliders {
		top: 10%;
	}

	.slide__decor-wrapper-mob img {
		top: 150px;
	}

	.third-section .container {
		height: 340vh;
	}

	.slick-slide {
		font-size: 22px;
	}

	.slide__img-wrapper img {
		top: 350px;
	}

	.info-box,
	.info-box-two {
		padding: 34px 24px;
	}

	.info-box-two__content p,
	.info-box p {
		font-size: 20px;
	}

	.info-box-two__content span {
		width: 42px;
		height: 42px;
		font-size: 22px;
	}

	.scroll-box {
		min-height: auto;
	}

	.scroll-box img {
		margin-bottom: 46px;
	}

	.info-box,
	.info-box-two {
		padding: 28px 24px;
	}

	.info-box-two__btns a {
		min-width: 150px;
	}

	.fourth-section {
		padding: 40px 0 60px;
	}

	.info-box img {
		width: 30px;
		margin-right: 14px;
	}

	.info-box-two__btns p {
		display: none;
	}

	.footer {
		.container {
			flex-direction: column;
		}
		&__logo-box img {
			margin-left: -24px;
			width: 200px;
		}

		&__copirayt {
			display: none;
		}

		&__copirayt-mob {
			display: block;
			font-size: 12px;
			margin-top: 50px;
		}

		&__wrapper {
			padding-top: 0;
		}
	}

	.slide__decor-wrapper {
		display: none;
	}

	.sixth-section {
		&__table-wrapper {
			margin-bottom: 40px;
			.table {
				&__row_logo {
					.table__col-1 {
						display: none;
					}

					.table__col-2 {
						margin: 0 auto;
						width: 100%;

						img {
							width: 300px;
						}
					}
				}
				&__col-3 {
					display: none;
				}

				&__col-1 {
					width: 70%;
				}
			}
		}
		&__table-wrapper-mob {
			display: block;
			margin-bottom: 60px;

			.table {
				&__row {
					opacity: 1;
				}
				&__row_logo {
					.table__col-1 {
						display: none;
					}
					.table__col-3 {
						margin: 0 auto;
						width: 100%;
					}
				}
				&__col-2 {
					display: none;
				}

				&__col-1 {
					width: 70%;
				}
			}

			.table__row_logo {
				margin-bottom: 20px;
			}
		}
	}
}

@media (max-width: 480px) {
	.main-btn__text {
		font-size: 16px;
	}

	.main-btn_header {
		padding: 10px 22px;
	}

	.header {
		height: 90px;
		.logo img {
			width: 190px;
		}
	}

	.first-section {
		/* .main-title {
			font-size: 30px;
		} */

		.main-subtitle {
			font-size: 20px;
			order: 3;
		}
		.main-btn {
			margin-bottom: 30px;
		}
	}

	.second-section__title,
	.second-section__sub-title span {
		font-size: 22px;
		line-height: 1.1;
	}

	.second-section__sub-title span img {
		left: -16px;
	}

	.second-section__sub-title .main-btn_blue {
		top: 300%;
		padding: 14px;
	}
	.second-section {
		height: 120vh;
	}
	.second-section__sub-title .visible {
		padding: 10px 20px;
	}

	.slide__title {
		font-size: 22px;
	}

	.slide__sub-title {
		font-size: 14px;
	}

	.main-btn {
		padding: 10px 22px;
	}

	.slide__img-wrapper img {
		top: 300px;
		height: 210px;
	}

	.info-box-two__btns a {
		min-width: 100px;
	}

	.footer__wrapper {
		gap: 20px;
		flex-direction: column;
	}

	.table__col-1 {
		font-size: 14px;
		img {
			margin-right: 10px;
		}
	}

	.table__row {
		.table__col-2,
		.table__col-3 {
			span,
			img {
				max-width: 30%;
				font-size: 12px;
			}
		}
	}

	.sixth-section__table-wrapper .table__row_logo .table__col-2 img{
		max-width: 300px;
	}
}

@media (max-width: 380px) {
	/* .main-title {
		font-size: 24px;
	} */

	.header .logo img {
		margin-left: -24px;
	}

	.sixth-section__table-wrapper .table__row_logo .table__col-2 img {
		width: 200px;
	}

	.main-btn_header {
		padding: 8px 16px;
	}
	.header .logo img {
		width: 180px;
	}
}
